moum/moum.dtd

<!ELEMENT moum (title, list)>

<!ELEMENT title (#PCDATA)>
<!ELEMENT list (essential?, upper?, general)>

<!ELEMENT essential (mode+)>
<!ELEMENT upper (mode+)>
<!ELEMENT general (mode+)>

<!ELEMENT mode (name, scope, site?, detail?)>

<!ELEMENT name (#PCDATA)>
<!ELEMENT scope (#PCDATA)>
<!ELEMENT site (#PCDATA)>
<!ELEMENT detail (#PCDATA)>
